<ul>
  <li ng-repeat="game in games">
    Location: {{game.location}} <br />
    Stakes: {{game.stakes}}
    <a href="games/{{game.id}}/edit">Edit</a>
    <a href="" ng-click="destroy(game.id)">Delete</a>
  </li>
</ul>

<a href="/games/new">Add new game</a>